@import './base/reset';
@import './base/typo';

@import './components/header';
@import './components/navigation';
@import './components/button';
@import './components/article';
@import './components/counter';
@import './components/grid';

#container {
  padding-top: 20px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
